@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 15fr;
  grid-template-areas:
    "navbar header"
    "navbar main-content";
  max-height: 100vh;
  max-width: 100vw;
}

.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #373d46;
  height: 100vh;
  min-width: 300px;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: auto;
    #logo {
      background: url(./img/ticklogo.svg);
      background-size: contain;
      width: 40px;
      height: 40px;
      color: white;
    }
    .title {
      display: flex;
      justify-content: center;
      color: white;
      h1 {
        font-weight: 400;
        min-width: 100px;
      }
    }
  }

  .addButton {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    button {
      display: flex;
      justify-content: space-around;
      width: 280px;
      height: 60px;
      background-color: white;
      border-radius: 10px;
      font-size: 26px;
      font-weight: 400;
      align-items: center;
      justify-items: center;
      cursor: pointer;
      border: none;
      &:hover {
        background-color: #a6bad4;
      }
      #button-plus-img {
        background: url(./img/plusbutton.svg);
        height: 40px;
        width: 40px;
      }
      #button-border {
        border-right: 1px solid #373d46;
        height: 40px;
        width: 0px;
      }
      #up-arrow {
        background: url(./img/up-arrow.png);
        height: 24px;
        width: 24px;
      }
    }
  }
}

.header {
  grid-area: header;
  background-color: #616c7c;
  max-height: 70px;
}

#listContainer {
  grid-area: main-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 50px;
  justify-content: center;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  #longListContainer {
    height: 900px;
    width: 400px;
    background-color: #e3e3e5;
    display: grid;
    grid-template-rows: 1fr 9fr;
    .listTitle {
      background-color: #3e5c76;
      padding: 30px;
      color: white;
      #longTerm {
        border-bottom: 1px solid white;
        h3 {
          font-size: 26px;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }
      #long-title-bottom {
        height: 20px;
      }
    }
    #longdisplay {
      height: 100%;
      width: 100%;
    }
  }

  #shortListContainer {
    height: 900px;
    width: 400px;
    background-color: #e3e3e5;
    display: grid;
    grid-template-rows: 1fr 9fr;
    .listTitle {
      background-color: #748cab;
      padding: 30px;
      color: white;
      #shortTerm {
        border-bottom: 1px solid white;
        h3 {
          font-size: 26px;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }
      #short-title-bottom {
        height: 20px;
      }
    }
  }

  #shoppingListContainer {
    height: 900px;
    width: 400px;
    background-color: #e3e3e5;
    display: grid;
    grid-template-rows: 1fr 9fr;
    max-height: 100%;
    .listTitle {
      background-color: #b76d68;
      padding: 30px;
      color: white;
      #shoppingTerm {
        border-bottom: 1px solid white;
        h3 {
          font-size: 26px;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }
      #shopping-title-bottom {
        height: 20px;
      }
    }
  }
}

#longform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #ffffff;
  color: #3e5c76;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
  .header {
    background-color: #ffffff;
    color: #3e5c76;
    border-bottom: 1px solid #3e5c76;
    padding: 20px 0;
    margin-bottom: 12px;
    h2 {
      margin: 0;
    }
  }
  .form {
    padding: 30px 40px;
  }

  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    label {
      display: inline-block;
      margin-bottom: 5px;
    }
    input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    textarea {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    select {
      border-color: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
    }

    small {
      visibility: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    button {
      width: 100%;
      border: none;
      border-radius: 10px;
      background-color: white;
      height: 40px;
      padding: 0;
      cursor: pointer;
      font-size: 20px;
      font-weight: 400;
      &:hover {
        background-color: #a6bad4;
      }
    }
  }
  .form-control.success {
    input {
      border-color: #2ecc71;
    }
    textarea {
      border-color: #2ecc71;
    }
    select {
      border-color: #2ecc71;
    }
    i.fa-check-circle {
      visibility: visible;
      color: #2ecc71;
    }
  }
  .form-control.error {
    input {
      border-color: #e74c3c;
    }
    textarea {
      border-color: #e74c3c;
    }
    select {
      border-color: #e74c3c;
    }
    i.fa-exclamation-circle {
      visibility: visible;
      color: #e74c3c;
    }
    small {
      visibility: visible;
      color: #e74c3c;
    }
  }
  #longSubmit {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #3e5c76;
    color: #fff;
    height: 40px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    &:hover {
      background-color: #a6bad4;
    }
  }
}

// #longform {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(0);
//   background-color: #3e5c76;
//   color: white;
//   padding: 30px;
//   display: flex;
//   flex-direction: column;
//   width: 30%;
//   label {
//     line-height: 100%;
//     margin-bottom: 5px;
//     font-size: 16px;
//   }
//   input {
//     width: 100%;
//     height: 30px;
//     font-family: "Montserrat", sans-serif;
//     color: black;
//     margin-bottom: 20px;
//     padding: 0 8px;
//     border: 1px solid rgba(254, 254, 254, 0.3);
//     border-radius: 5px;
//     padding-right: 5px;
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//   }
//   select {
//     width: 100%;
//     height: 30px;
//     margin-bottom: 20px;
//     padding: 0 8px;
//     border: 1px solid rgba(254, 254, 254, 0.3);
//     border-radius: 5px;
//   }
//   button {
//     width: 100%;
//     border: none;
//     border-radius: 10px;
//     background-color: white;
//     height: 40px;
//     padding: 0;
//     cursor: pointer;
//     font-size: 20px;
//     font-weight: 400;
//     &:hover {
//       background-color: #a6bad4;
//     }
//   }
//   #longDescForm {
//     height: 200px;
//     width: 100%;
//     font-family: "Montserrat", sans-serif;
//     margin-bottom: 20px;
//     padding: 0 8px;
//     border: 1px solid rgba(254, 254, 254, 0.3);
//     border-radius: 5px;
//     padding-right: 5px;
//     padding-top: 5px;
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//   }
// }

#shortform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #748cab;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
  label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 16px;
  }
  input {
    width: 100%;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  select {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 5px;
  }
  button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    height: 40px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    &:hover {
      background-color: #a6bad4;
    }
  }
  #id-holder {
    visibility: hidden;
  }
  #shortDescForm {
    height: 200px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 5px;
    padding-right: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

#shoppingform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #b76d68;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
  label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 16px;
  }
  input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    height: 40px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    &:hover {
      background-color: #a6bad4;
    }
  }
}

.longListItem,
.shortListItem {
  margin: 20px;
  padding: 10px;
  background-color: white;
  font-size: 12px;
  height: 180px;
  display: grid;
  grid-template-columns: 30px 240px 1fr;
  grid-template-rows: 45px 1fr 35px;
  grid-template-areas:
    "radio main priority"
    ". desc ."
    ". date delete";
  align-items: center;
  .list-item-title {
    grid-area: main;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 5px;
    letter-spacing: 0.04em;
    cursor: pointer;
  }
  .list-item-radio {
    grid-area: radio;
    justify-self: center;
    padding-right: 5px;
  }
  .list-item-desc {
    grid-area: desc;
    letter-spacing: 0.09em;
    align-self: baseline;
    font-weight: 400;
    line-height: 14px;
    font-size: 13px;
    margin-top: 0;
  }
  .list-item-prio {
    grid-area: priority;
    justify-self: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    .list-item-prio-div {
      color: #3e5c76;
      padding: 3px;
      font-weight: 700;
    }
    .list-item-prio-div.high-priority {
      background-color: #d87860;
      color: white;
    }
    .list-item-prio-div.medium-priority {
      background-color: #f0c048;
      color: white;
    }
    .list-item-prio-div.low-priority {
      background-color: #78c090;
      color: white;
    }
  }
  .list-item-date {
    grid-area: date;
    background-color: #3e5c76;
    color: #ffffff;
    font-weight: 500;
    line-height: 13px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    letter-spacing: 0.09em;
    font-size: 11px;
    width: 30ch;
  }
  .list-item-delete {
    grid-area: delete;
    background: url(./img/delete-button4.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    border: 1px solid #373d46;
    cursor: pointer;
    border: none;
    justify-self: center;
  }
}

.longListItem.complete {
  opacity: 0.2;
}

.shortListItem.complete {
  opacity: 0.2;
}

.shoppingListItem {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  h4 {
    margin-left: 10px;
    color: #373d46;
    font-weight: 400;
  }
  button {
    margin-left: auto;
    background: url(./img/delete-button4.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    border: 1px solid #373d46;
    cursor: pointer;
    border: none;
    justify-self: center;
  }
  &:first-child {
    margin-top: 20px;
  }
}

.shoppingListItem.complete {
  opacity: 0.2;
}

.modalButtons {
  position: absolute;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out 0.2s;
  z-index: 9;
  bottom: 9%;
  left: 0.8%;
  button {
    min-width: 280px;
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #a6bad4;
    }
  }
}
.active {
  transform: scaleY(1);
  transition: transform 0.3s ease-in-out 0.2s;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.activeOverlay {
  opacity: 1;
  pointer-events: all;
}

#longform.activeLongForm {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out 0.2s;
  z-index: 10;
}

#shortform.activeShortForm {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out 0.2s;
  z-index: 10;
}

#shoppingform.activeShoppingForm {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out 0.2s;
  z-index: 10;
}

@media (max-width: 1600px) {
  .container {
    justify-content: center;
    grid-template-rows: 1fr 15fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "main-content ";

    .navbar {
      position: fixed;
      display: flex;
      width: 100vw;
      height: 10vh;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

      .logo {
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
      }
      .title {
        margin-left: 10px;
      }
      .addButton {
        margin-bottom: 0;
        width: 10vw;

        button {
          justify-content: center;
        }

        #add-button-text {
          height: 0;
          width: 0;
          visibility: collapse;
        }

        #button-border {
          height: 0;
          width: 0;
        }

        #up-arrow {
          height: 0;
          width: 0;
        }
      }

      .modalButtons {
        bottom: auto;
        left: auto;
        top: 105%;
        right: 0.3%;
        transform-origin: top;
        button {
          border: 1px solid #373d46;
          background-color: #373d46;
          color: white;
        }
      }
    }
    .header {
      position: absolute;
      visibility: hidden;
    }

    #listContainer {
      grid-template-columns: 1fr;
      justify-content: center;
      max-width: 100vw;
      justify-items: center;
      margin-top: 10vh;

      #longListContainer {
        max-height: 60vh;
        overflow-y: scroll;
      }
      #shortListContainer {
        max-height: 60vh;
        overflow-y: scroll;
      }
      #shoppingListContainer {
        max-height: 60vh;
        overflow-y: scroll;
      }
    }
  }

  #longform {
    position: fixed;
    width: 70vw;
  }

  #shortform {
    position: fixed;
    width: 70vw;
  }

  #shoppingform {
    position: fixed;
    width: 70vw;
  }
}
