@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 15fr;
  grid-template-areas: 
  "navbar header"
  "navbar main-content";
}

.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #373D46;
  height: 100vh;
  min-width: 300px;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: auto;
    #logo {
      background: url(./img/ticklogo.svg);
      background-size: contain;
      width: 40px;
      height: 40px;
      color: white;
    }
    .title {
      display: flex;
      justify-content: center;
      color: white;
      h1 {
        font-weight: 400;
        min-width: 100px;
      }
    }
  }
  
  .addButton {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    button {
      display: flex;
      justify-content: space-around;
      width: 280px;
      height: 60px;
      border-radius: 10px;
      font-size: 26px;
      font-weight: 400;
      align-items: center;
      justify-items: center;
      cursor: pointer;
      border: none;
      &:hover {
        background-color: #a6bad4;
      }
      #button-plus-img {
        background: url(./img/plusbutton.svg);
        height: 40px;
        width: 40px;
      }
      #button-border {
        border-right: 1px solid #373D46;
        height: 40px;
        width: 0px;
      }
      #up-arrow {
        background: url(./img/up-arrow.png);
        height: 24px;
        width: 24px;
      }
    }
  }
} 

.header {
  grid-area: header;
  background-color: #616C7C;
}

#listContainer {
  grid-area: main-content;
  min-width: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 50px;
  justify-content: center;
  padding: 100px;
  #longListContainer {
    height: 100%;
    width: 100%;
    background-color: #e3e3e5;
    display: grid;
    grid-template-rows: 2fr 9fr;
    .listTitle {
      background-color: #3E5C76;
      padding: 30px;
      color: white;
      #longTerm {
        border-bottom: 1px solid white;
        h3 {
          font-size: 26px;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }
    }
  }

  #shortListContainer {
    height: 100%;
    width: 100%;
    background-color: #e3e3e5;
    display: grid;
    grid-template-rows: 2fr 9fr;
    .listTitle {
      background-color: #748CAB;
      padding: 30px;
      color: white;
      #shortTerm {
        border-bottom: 1px solid white;
        h3 {
          font-size: 26px;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }
    }
  }

  #shoppingListContainer {
    height: 100%;
    width: 100%;
    background-color: #e3e3e5;
    display: grid;
    grid-template-rows: 2fr 9fr;
    .listTitle {
      background-color: #B76D68;
      padding: 30px;
      color: white;
      #shoppingTerm {
        border-bottom: 1px solid white;
        h3 {
          font-size: 26px;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }
    }
  }
}

#longform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #3E5C76;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
  label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 16px;
  }
  input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254,254,254,.3);
    border-radius: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
  }
  select {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254,254,254,.3);
    border-radius: 5px;
  }
  button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    height: 40px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    &:hover {
      background-color: #a6bad4;
    }
  }
  #longDescForm {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254,254,254,.3);
    border-radius: 5px;
    padding-right: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
  }
}

#shortform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #748CAB;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
  label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 16px;
  }
  input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254,254,254,.3);
    border-radius: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
  }
  select {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254,254,254,.3);
    border-radius: 5px;
  }
  button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    height: 40px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    &:hover {
      background-color: #a6bad4;
    }
  }
  #id-holder {
    visibility: hidden;
  }
  #shortDescForm {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254,254,254,.3);
    border-radius: 5px;
    padding-right: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
  }
}

#shoppingform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #B76D68;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
  label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 16px;
  }
  input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 8px;
    border: 1px solid rgba(254,254,254,.3);
    border-radius: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
  }
  button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: white;
    height: 40px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    &:hover {
      background-color: #a6bad4;
    }
  }
}

.longListItem, .shortListItem {
  margin: 20px;
  padding: 10px;
  background-color: white;
  font-size: 12px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;;
  grid-template-areas: 
  "radio main priority"
  ". desc ."
  ". date delete";
  align-items: center;
  .list-item-title {
    grid-area: main;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
  }
  .list-item-radio {
    grid-area: radio;
    justify-self: center;
    padding-right: 5px;
  }
  .list-item-desc {
    grid-area: desc;
    align-self: baseline;
    font-weight: 400;
    line-height: 13px;
    font-size: 13px;
    margin-top: 0;
  }
  .list-item-prio {
    grid-area: priority;
    justify-self: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    .list-item-prio-div {
      color: #3E5C76;
      padding: 3px;
      font-weight: 700;
    }
    .list-item-prio-div.high-priority {
      background-color: #FA9F9F;
    }
    .list-item-prio-div.medium-priority {
      background-color: #FDF9A3;
    }
    .list-item-prio-div.low-priority {
      background-color: #DDFDCD;
    }
  }
  .list-item-date {
    grid-area: date;
    background-color: #C9D9F2;
    color: #3E5C76;
    font-weight: 600;
    line-height: 13px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    letter-spacing: 0.09em;
    font-size: 11px;
    width: 30ch;
  }
  .list-item-delete {
    grid-area: delete;
    background: url(./img/delete-button4.png);
    background-size: contain;
    width: 24px;
    height: 24px;
    border: 1px solid #373D46 ;
    cursor: pointer;
    border: none;
    justify-self: center;
  }
}

.longListItem.complete {
  opacity: 0.2;
}

.shortListItem.complete {
  opacity: 0.2;
}

.shoppingListItem {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  h4 {
    margin-left: 10px;
    color: #373D46;
    font-weight: 400;
  }
  button {
    margin-left: auto;
    background: url(./img/delete-button4.png);
    background-size: contain;
    width: 20px;
    height: 20px;
    border: 1px solid #373D46 ;
    cursor: pointer;
    border: none;
    justify-self: center;
  }
  &:first-child {
    margin-top: 20px;
  }
}

.shoppingListItem.complete {
  opacity: 0.2;
}

.modalButtons {
  position: absolute;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out 0.2s;
  z-index: 9;
  bottom: 8%;
  left: 0.7%;
  button {
    min-width: 280px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #a6bad4;
    }
  }
}
.active {
  transform: scaleY(1);
  transition: transform 0.3s ease-in-out 0.2s;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.activeOverlay {
  opacity: 1;
  pointer-events: all;
}

#longform.activeLongForm {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out 0.2s;
  z-index: 10;
}

#shortform.activeShortForm {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out 0.2s;
  z-index: 10;
}

#shoppingform.activeShoppingForm {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out 0.2s;
  z-index: 10;
}